@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-16 text-2xl font-extrabold text-gray-900;
  }
  h2 {
    @apply mt-14 mb-10 text-xl font-bold text-gray-900;
  }
  h3 {
    @apply mt-10 mb-6 text-lg font-semibold text-gray-800;
  }
  h4 {
    @apply mt-6 mb-2 text-base text-gray-600;
  }
}
